# Mega Store

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import os
os.chdir("D:\Pinnacle Boot Camp\Solution Prob 1")

In [3]:
pwd

'D:\\Pinnacle Boot Camp\\Solution Prob 1'

In [4]:
raw_data = pd.read_csv("D:\Pinnacle Boot Camp\Problem Data and Statement\MegaStore.csv")

In [5]:
raw_data.describe()

,Weight,Visibility,MRP,OutletEstablishmentYear,Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800