# Mega Store

In [51]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [52]:
pwd

'd:\\Pinnacle Boot Camp\\Solution Prob 1'

In [53]:
raw_data = pd.read_csv("D:\Pinnacle Boot Camp\Problem Data and Statement\MegaStore.csv")

In [54]:
raw_data.describe()

,Weight,Visibility,MRP,OutletEstablishmentYear,Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [55]:
raw_data.head(20)

,Item,Itemtype,Weight,FatContent,Visibility,MRP,Outlet,OutletEstablishmentYear,OutletSize,OutletCity,OutletType,Sales
0,FDU28,Frozen Foods,19.200,Regular,0.094450,187.8214,OUT_017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
1,FDY07,Fruits and Vegetables,11.800,Low Fat,0.000000,45.5402,OUT_049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
2,FDA03,Dairy,18.500,Regular,0.045464,144.1102,OUT_046,1997,Small,Tier 1,Supermarket Type1,2187.1530
3,FDX32,Fruits and Vegetables,15.100,Regular,0.100014,145.4786,OUT_049,1999,Medium,Tier 1,Supermarket Type1,1589.2646
4,FDS46,Snack Foods,17.600,Regular,0.047257,119.6782,OUT_046,1997,Small,Tier 1,Supermarket Type1,2145.2076
5,FDF32,Fruits and Vegetables,16.350,Low Fat,0.068024,196.4426,OUT_013,1987,High,Tier 3,Supermarket Type1,1977.4260
6,FDP49,Breakfast,9.000,Regular,0.069089,56.3614,OUT_046,1997,Small,Tier 1,Supermarket Type1,1547.3192
7,NCB42,Health and Hygiene,11.800,Low Fat,0.008596,115.3492,OUT_018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
8,FDP49,Breakfast,9.000,Regular,0.069196,54.3614,OUT_049,1999,Medium,Tier 1,Supermarket Type1,718.3982
9,DRI11,Hard Drinks,NaN,Low Fat,0.034238,113.2834,OUT_027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
10,FDU02,Dairy,13.350,Low Fat,0.102492,230.5352,OUT_035,2004,Small,Tier 2,Supermarket Type1,2748.4224
11,FDN22,Snack Foods,18.850,Regular,0.138190,250.8724,OUT_013,1987,High,Tier 3,Supermarket Type1,3775.0860
12,FDW12,Baking Goods,NaN,Regular,0.035400,144.5444,OUT_027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
13,NCB30,Household,14.600,Low Fat,0.025698,196.5084,OUT_035,2004,Small,Tier 2,Supermarket Type1,1587.2672
14,FDC37,Baking Goods,NaN,Low Fat,0.057557,107.6938,OUT_019,1985,Small,Tier 1,Grocery Store,214.3876
15,FDR28,Frozen Foods,13.850,Regular,0.025896,165.0210,OUT_046,1997,Small,Tier 1,Supermarket Type1,4078.0250
16,NCD06,Household,13.000,Low Fat,0.099887,45.9060,OUT_017,2007,NaN,Tier 2,Supermarket Type1,838.9080
17,FDV10,Snack Foods,7.645,Regular,0.066693,42.3112,OUT_035,2004,Small,Tier 2,Supermarket Type1,1065.2800
18,DRJ59,Hard Drinks,11.650,low fat,0.019356,39.1164,OUT_013,1987,High,Tier 3,Supermarket Type1,308.9312
19,FDE51,Dairy,5.925,Regular,0.161467,45.5086,OUT_010,1998,NaN,Tier 3,Grocery Store,178.4344

In [56]:
raw_data.isnull().sum(axis=0)

Item                          0
Itemtype                      0
Weight                     1463
FatContent                    0
Visibility                    0
MRP                           0
Outlet                        0
OutletEstablishmentYear       0
OutletSize                 2410
OutletCity                    0
OutletType                    0
Sales                         0
dtype: int64

In [57]:
raw_data['Weight'].fillna(value=12.857645, inplace=True)

In [58]:
raw_data['OutletSize'].fillna(value='Unknown', inplace=True)

In [62]:
raw_data.head(20)

,Item,Itemtype,Weight,FatContent,Visibility,MRP,Outlet,OutletEstablishmentYear,OutletSize,OutletCity,OutletType,Sales
0,FDU28,Frozen Foods,19.200000,Regular,0.094450,187.8214,OUT_017,2007,Unknown,Tier 2,Supermarket Type1,4710.5350
1,FDY07,Fruits and Vegetables,11.800000,Low Fat,0.000000,45.5402,OUT_049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
2,FDA03,Dairy,18.500000,Regular,0.045464,144.1102,OUT_046,1997,Small,Tier 1,Supermarket Type1,2187.1530
3,FDX32,Fruits and Vegetables,15.100000,Regular,0.100014,145.4786,OUT_049,1999,Medium,Tier 1,Supermarket Type1,1589.2646
4,FDS46,Snack Foods,17.600000,Regular,0.047257,119.6782,OUT_046,1997,Small,Tier 1,Supermarket Type1,2145.2076
5,FDF32,Fruits and Vegetables,16.350000,Low Fat,0.068024,196.4426,OUT_013,1987,High,Tier 3,Supermarket Type1,1977.4260
6,FDP49,Breakfast,9.000000,Regular,0.069089,56.3614,OUT_046,1997,Small,Tier 1,Supermarket Type1,1547.3192
7,NCB42,Health and Hygiene,11.800000,Low Fat,0.008596,115.3492,OUT_018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
8,FDP49,Breakfast,9.000000,Regular,0.069196,54.3614,OUT_049,1999,Medium,Tier 1,Supermarket Type1,718.3982
9,DRI11,Hard Drinks,12.857645,Low Fat,0.034238,113.2834,OUT_027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
10,FDU02,Dairy,13.350000,Low Fat,0.102492,230.5352,OUT_035,2004,Small,Tier 2,Supermarket Type1,2748.4224
11,FDN22,Snack Foods,18.850000,Regular,0.138190,250.8724,OUT_013,1987,High,Tier 3,Supermarket Type1,3775.0860
12,FDW12,Baking Goods,12.857645,Regular,0.035400,144.5444,OUT_027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
13,NCB30,Household,14.600000,Low Fat,0.025698,196.5084,OUT_035,2004,Small,Tier 2,Supermarket Type1,1587.2672
14,FDC37,Baking Goods,12.857645,Low Fat,0.057557,107.6938,OUT_019,1985,Small,Tier 1,Grocery Store,214.3876
15,FDR28,Frozen Foods,13.850000,Regular,0.025896,165.0210,OUT_046,1997,Small,Tier 1,Supermarket Type1,4078.0250
16,NCD06,Household,13.000000,Low Fat,0.099887,45.9060,OUT_017,2007,Unknown,Tier 2,Supermarket Type1,838.9080
17,FDV10,Snack Foods,7.645000,Regular,0.066693,42.3112,OUT_035,2004,Small,Tier 2,Supermarket Type1,1065.2800
18,DRJ59,Hard Drinks,11.650000,low fat,0.019356,39.1164,OUT_013,1987,High,Tier 3,Supermarket Type1,308.9312
19,FDE51,Dairy,5.925000,Regular,0.161467,45.5086,OUT_010,1998,Unknown,Tier 3,Grocery Store,178.4344

In [60]:
raw_data.isnull().sum(axis=0)

Item                       0
Itemtype                   0
Weight                     0
FatContent                 0
Visibility                 0
MRP                        0
Outlet                     0
OutletEstablishmentYear    0
OutletSize                 0
OutletCity                 0
OutletType                 0
Sales                      0
dtype: int64